.header {
  height: 10%;
  box-sizing: border-box;
  margin: 20px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4a4a4a;

  .options {
    width: 20%;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    text-transform: uppercase
  }
}