* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Mono', monospace;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}
a:visited {
  color: #4a4a4a;
}